/*-----------------THEME-------------------------*/
@import "variables";
.l- {
    &wrapper {
        background-color: $main;    
    }
    &nav {
        list-style-type: none;
        & > li {
            background-color: $main / 2;
            & > a {
                color: $second;
                text-decoration: none;            
            }
            &:hover {
                background-color: $main / 3;
            }
        }
    }
    
    &container-wrapper {
        background-color: $second;
    }
}
.item {
    background-color: $main/2;    
}

.l-square {
    box-sizing: border-box;
    background-color: $second;
    border: 8px double $main;
}