/*-----------------THEME-------------------------*/
@import "variables";
.l- {
    &wrapper {
        background-color: $main;
    }

    &title{
        color: $second;        
    }
    &nav {
        list-style-type: none;
    }
    
    &container-wrapper {
        background-color: $second;
        border: 1px solid $main / 2;
        box-shadow: 2px 2px 10px $main / 2;
    }
}

.btn{
    background-color: $main / 2;
    cursor: pointer;
    
    & > a {
        color: $second;
        text-decoration: none;
    }

    &:hover {
        background-color: $main / 3;
    }
}

.item {
    background-color: $item;    
}

.right{
    background-color: $right;
}

.l-main-item {
    background-color: $second;
    border: 2px solid $main / 2;
}