@mixin media($max-viewport-width: 1440px){
    $current-width: 0px;
    $basis: 320px;
    $multiplier: 0;

    @while $current-width < $max-viewport-width {
        $current-width: $current-width + $basis ;
        $multiplier: $multiplier + 1;

        @media (min-width: $basis * $multiplier){
            width: 75% - 12.5% * $multiplier;
            padding-top: 75% - 12.5% * $multiplier;
        }
    }
}