/*---------------MODULES-------------------------*/

.item-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    width: 25%;
    height: 25%;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}